*.blend1
tmp/*
cache/*.png

# builds
web/dist
web/uploads/*.png
web/uploads/*.jpg
web/uploads/*.jpeg
web/uploads/*.bmp
web/uploads/*.tif
web/uploads/*.tiff

# dependency directories
web/node_modules/
